{% extends "WCPC2K18Bundle:Base:layout.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="offset-lg-4 col-lg-4 mt-3">
            <div class="card">
                <div class="card-header">
                    Votre pronostic pour {{ game.homeTeam.name }} <img  class="ml-1 mr-3" src="{{ asset(game.homeTeam | flag(32) ) }}" />
                         - <img class="ml-3 mr-1" src="{{ asset(game.awayTeam | flag(32) ) }}" />{{ game.awayTeam.name }}
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_row(form.goalsHome) }}
                    {{ form_row(form.goalsAway) }}
                    {% if form.jackpot.vars.disabled %}
                        <div class="alert alert-warning"><i class="fas fa-exclamation-triangle"></i> Vous avez déjà misé double sur une autre rencontre ({{ game.homeTeam.name }} - {{ game.awayTeam.name }}) pour la journée courante ({{ game.phase }}). Vous ne pouvez doubler seulement sur une rencontre par journée.</div>
                    {% endif %}
                    {{ form_row(form.jackpot) }}

                        
                    
                    {{ form_row(form.submit) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}

